{% extends "layout.html" %}
{% block title %}about oxalorg{% endblock %}
{% block body %}
<style>
    h1, h2{
        font-family: 'NjNaruto';
    }
</style>
<div class="container">
    <h1>about <a href="/" style="text-decoration:none">oxalorg</a></h1>
    <p>
        <em>If you haven't already connected with the terminal on the front page, go do that now.</em>
    </p>
    <hr>
    <h2>The way of the shinobi</h2>
    <p>
        <blockquote cite="#">
            We will gradually become indifferent to what goes on in the minds of other people when we acquire an adequate knowledge of the superficial nature of their thoughts, of the narrowness of their views, and of the number of their errors. Whoever attaches a lot of value to the opinion of the others, pays them, too much honor. - Arthur Schopenhauer
        </blockquote>
    </p>
    <h2>my story</h2>
    <p>
        I wanted to become an ordinary human. But due to unfortunate circumstances I was forced to live my life as a rogue. I trained and developed ninshu, which led me to greater understanding of the world around me. <br>
        I publish the learnings of my hard training at <a href="http://computableverse.com">computableverse.com</a>. I also publish rough notes over at <a href="/o">oxal.org/o/</a>
    </p>
    <h2>weapons</h2>
    <p>
        In some part of the multiverse, a great master once said
    </p>
    <blockquote cite="#">
        If your mind is not projected into your hands, even ten thousand techniques are useless.
    </blockquote>
    <p>I've learnt to use a lot of tools and weapons on my path to the ultimate mastery. Some I've borrowed, some I've created. All of those are stashed here: <a href="weapon-stash">oxal.org/weapon-stash</a></p>
    <h2>links</h2>
    <p>
        <ul>
            <li>mail: <a href="mailto:rogue@oxal.org">rogue@oxal.org</a></li>
            <li>github<a href="https://github.com/oxalorg">/oxalorg</a></li>
            <li>stackoverflow<a href="https://stackoverflow.com/users/4395646/oxalorg">/oxalorg</a></li>
        </ul>
    </p>

    <h2>screw you guys, im going home</h2>
    <blockquote cite="#">
        There’s only one way to avoid criticism: Do nothing, say nothing, be nothing. – Elbert Hubbard
    </blockquote>
    <!-- <p><a href="{{ url_for('index') }}">go somewhere nice</a></p> -->
</div>
{% endblock %}
